{
  "extends": "airbnb/legacy",
  "plugins": [
    "html"
  ],
  "rules": {
    indent: [2, 'tab'],
    comma-dangle: ["error", "only-multiline"],
    max-len: 0,
    no-multiple-empty-lines: 0,
    no-unused-vars: [2, { "args": "none" }],
    no-param-reassign: ["error", { "props": false }],
    no-trailing-spaces: 0,

    func-names: 0,
    no-use-before-define: [2, { "functions": false }],
    vars-on-top: 0,
  },
  globals: {
    $,
    Vue,
  },
}
